*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #ffc632;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1654px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
@media screen and (max-width: 1920px) {
  .__container {
    max-width: 1654px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1240px;
  }
}

/*header*/
.header {
  background: var(--accent-color);
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 106px;
}

.header__logo {
  display: flex;
  align-items: center;
  z-index: 5;
}

.logo-img {
  margin-left: -21px;
}

.header__title {
  font-size: 26px;
  font-weight: 900;
}

.header__menu {
  margin: 0 0 0 335px;
}

.menu__link {
  font-size: 24px;
}

@media (max-width: 767px) {
  .menu__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .menu__burger span,
  .menu__burger::before,
  .menu__burger::after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .menu__burger::before,
  .menu__burger::after {
    content: '';
  }

  .menu__burger::before {
    top: 0;
  }

  .menu__burger::after {
    bottom: 0;
  }

  .menu__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 221, 221, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    content: '';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 106px;
    background-color: var(--accent-color);
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }

  .menu_list > li:last-child {
    margin-bottom: 0;
  }

  .menu__item:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }

  .menu__item:first-child {
    margin-top: 15px;
  }

  .menu__link {
    font-size: 24px;
  }
}

.menu {
  padding: 5px 0;
}

@media (min-width: 767px) {
  .menu__list {
    flex-wrap: wrap;
    display: flex;
  }

  .menu__item:not(:last-child) {
    margin: 0px 42px 0px 0px;
  }
}

.menu__link {
  color: #000;
  font-size: 20px;
  line-height: calc(20 / 10 * 100%);
}

.header__icon {
  display: flex;
  justify-content: space-between;
}

.user-item {
  margin-left: 17px;
}

/*banner*/
#banner {
  padding-top: 51px;
  height: 799px;
  background-image: url(../img/banner.png);
}
.main-flex {
  display: flex;
  justify-content: space-between;
}
.main-flex-description {
  width: 830px;
}
.h1 {
  font-weight: 900;
  font-size: 63px;
  color: #000;
  text-align: justify;
  padding-bottom: 65px;
  letter-spacing: 0.6px;
}

.banner-about {
  font-weight: 500;
  font-size: 31px;
  color: #000;
  margin-bottom: 88px;
  width: 684px;
  text-align: justify;
  letter-spacing: 0.6px;
}
.banner-button {
  width: 400px;
  font-size: 26px;
  padding: 23px 86px;
  color: #000;
  text-decoration: none;
  font-weight: 900;
  border: 1px solid #000;
  border-radius: 56px;
  letter-spacing: 0.4px;
}

.main-flex-list {
  width: 446px;
  padding-top: 8px;
}

.h2 {
  font-weight: 800;
  font-size: 19px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 32px;
}
ul {
  padding-left: 0;
}
.list-item {
  display: flex;
  margin-bottom: 20px;
  border: 2.4px solid #000;
  border-radius: 80px;
}

.list-item span {
  padding: 24px 21px;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  color: #000;
  letter-spacing: 0.2px;
}

/*banner-2*/
#banner-2 {
  height: 709px;
  background-image: url(../img/banner-2.png);
}
.leader-group {
  display: flex;
  justify-content: center;
  padding-top: 166px;
}
.leader-group-item {
  text-align: center;
}
.leader-group-item span {
  font-style: italic;
  font-weight: 400;
  font-size: 42px;
  color: #000;
}
.leader-group-img {
  margin-bottom: 28px;
  width: 290px;
  height: 290px;
  border-radius: 50%;
  border: 1px solid black;
}
.leader-group-bigimg {
  width: 531px;
  height: 531px;
  border-radius: 50%;
  border: 1px solid black;
  margin: -120px 144px 27px;
}

/*banner-3*/
#banner-3 {
  height: 922px;
  background-image: url(../img/banner-3.png);
}

.magazine {
  padding-top: 29px;
}

.magazine-line {
  display: flex;
  justify-content: space-between;
}
.h2-magazine {
  font-weight: 900;
  font-size: 42px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.btn-magazine-next {
  text-decoration: none;
  border-radius: 53px;
  padding: 13px 0;
  width: 266px;
  height: 53px;
  letter-spacing: 0.1px;

  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  background: #4cadb3;
  color: #000;

  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #000;
}

.magazine__grid {
  margin-top: 33px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
}
.magazine__grid-item {
  background-color: #ffc632;
  width: 542px;
  height: 693px;
  border-radius: 30px;
}
.info {
  height: 88px;
  padding: 28px;
  display: flex;
}
.circle-age {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid black;
  padding: 7px 14px;
}
.circle-age span {
  font-size: 32px;
}
.pet-time {
  font-weight: 500;
  font-size: 21px;
  padding: 13px 8px;
}
.female {
  margin-left: 230px;
}
.photo-pet {
  width: 542px;
  height: 408px;
  background: #ff6262;
}

.pet-description {
  padding-top: 18px;
  padding-left: 27px;
  width: 483px;
}
.name-card {
  font-weight: 800;
  font-size: 26px;
  letter-spacing: 0.5px;
}
.p-card {
  text-align: justify;
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 33px;
}

.btn-magazine-more {
  text-decoration: none;
  padding: 15px 172px;
  border: 1.33px solid #000;
  border-radius: 133px;
  letter-spacing: 0.9px;

  font-weight: 900;
  font-size: 20px;
  text-align: center;
  color: #000;
}

/*banner-4*/
#banner-4 {
  height: 778px;
  background-image: url(../img/banner-4.png);
}

.advantages {
  padding-top: 205px;
}
.adv-lines {
  display: flex;
  margin-top: 50px;
  gap: 142px;
}
.adv-item {
  display: flex;
}
.h2-adv {
  font-weight: 800;
  font-size: 55px;
}

.icon-dv {
  margin-right: 33px;
  width: 131px;
  height: 131px;
}

.text-adv {
  padding-top: 15px;
}
.h3 {
  font-weight: 700;
  font-size: 34px;
}
.p-adv {
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
}

/*banner-5*/
#banner-5 {
  height: 670px;
  background-image: url(../img/banner-5.png);
}

.h2-products {
  padding-top: 56px;
  font-weight: 700;
  font-size: 58px;
  padding-left: 131px;
  letter-spacing: -0.6px;
  margin-bottom: 37px;
}
.h2-products span {
  color: #f63d3d;
}

.line-products {
  display: flex;
  justify-content: center;
}
.card-products {
  margin-right: 53px;
}

.card-products:last-child {
  margin-right: 0;
}
img.product {
  border: 1.21px solid #f63d3d;
  border-radius: 12px;
  width: 326px;
  height: 326px;
}

.descrip-product {
  margin-top: 27px;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
}

/*banner-6*/
#banner-6 {
  height: 1311px;
  background-image: url(../img/banner-6.png);
}

.h2-gallery {
  padding-top: 28px;
  font-weight: 800;
  font-size: 53px;
  letter-spacing: -3px;
}

.grid-pet {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  object-fit: cover;
  grid-row-gap: 36px;
  grid-column-gap: 42px;
}

.pet-image1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.pet-image3 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.pet-image4 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.pet-image2 {
  grid-column: 1/2;
  grid-row: 2/4;
}
.pet-image6 {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-top: -12px;
}
.pet-image5 {
  grid-column: 3/4;
  grid-row: 2/4;
}

/*banner-7*/
#banner-7 {
  height: 288px;
  background-image: url(../img/banner-7.png);
}

.footer-line {
  padding-top: 127px;
  display: flex;
  justify-content: space-between;
}
.contacts {
}

.h3-contact {
  font-weight: 900;
  font-size: 42px;
}
.contact-line {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.social-network {
}
.icon-line {
  padding-top: 27px;
  display: flex;
  gap: 33px;
  justify-content: flex-end;
}

a[href^='mailto:'] {
  letter-spacing: 0.6px;
  font-weight: 500;
  font-size: 31px;
  text-decoration: none;
  color: black;
}

a[href^='tel:'] {
  letter-spacing: 0.4px;
  font-weight: 500;
  font-size: 31px;
  text-decoration: none;
  color: black;
}
