.footer {
  position: relative;
  padding-bottom: 15px;
  // bottom: 0;

  &__line {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }

  &__contact-heading {
    font-weight: 900;
    font-size: 26px;
  }
  &__contact-line {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }

  &__icon-line {
    margin-top: 20px;
    display: flex;
    gap: 24px;
    justify-content: flex-end;
  }
}

@media (max-width: 800px) {
  .footer__line {
    justify-content: center;
  }

  .footer__contact-heading {
    font-size: 25px;
  }

  .footer__icon-line {
    justify-content: center;
    margin-top: 10px;
  }

  .footer__contact-line {
    margin-top: 10px;
  }
}
