.header {
  background: $main-color;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 26px;
    font-weight: 900;
  }

  &__menu {
    margin: 0 -290px 0 0;

    // burger
    &-btn {
      display: none;

      @include mediaTablet {
        display: block;
      }
    }

    @media screen and (max-width: 1270px) {
      margin-right: -200px;
    }

    @include mediaDeskMini {
      margin-right: 0;
    }

    @include mediaTablet {
      display: none;
    }
  }

  &__icon {
    display: flex;
    justify-content: space-between;

    @include mediaTablet {
      display: none;
    }

    &-user {
      margin-left: 14px;
    }
  }
}

.cart {
  position: relative;

  &__count {
    position: absolute;
    top: 5px;
    right: -2px;
    display: inline-block;
    height: 20px;
    padding: 0 3px;

    background-color: #fdd55a;
    color: black;
    border-radius: 40px;
    border: 1px solid black;

    font-weight: 700;
    line-height: 20px;
  }
}

// mobile (открытый бургер)
.header__container--mobile {
  position: fixed;
  background-color: rgba(235, 221, 221, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 99;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;

  padding-top: 20px;
  padding-bottom: 30px;

  .header__menu {
    display: block;
    margin-left: 0px;
  }

  .header__icon {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {
      margin-left: 0px;
    }
  }

  .logo__image {
    margin: 10px 0 0 -126px;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .header__menu-btn {
    position: fixed;
    top: 55px;
    right: 30px;
  }
}
