.item {
  border-radius: 24px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.6);
  background: linear-gradient(180deg, #28a3b4 0%, #125278 100%);

  max-width: 380px;
  padding: 5px 0;

  &__container {
    padding: 5px 15px;
  }

  &__info {
    font-weight: 500;
    color: $white;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & i {
      font-weight: 600;
      text-transform: uppercase;
      font-style: normal;
      margin-left: 5px;
    }
  }

  &__image {
    height: 290px;
    padding: 10px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    margin-bottom: 10px;
  }

  &__description {
    color: $white;
    text-align: left;
    min-height: 80px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 15px;
    padding: 12px 0px;
    gap: 5px;
    color: $white;

    &-button {
      border-radius: 40px;
      width: 176px;
      height: 40px;
      cursor: pointer;
    }

    & .left {
      justify-content: center;
      display: flex;
      color: white;
      align-items: center;
      background: #1cd1c6;
    }

    & .right {
      background: linear-gradient(90deg, #ffc633 0%, #99771f 100%);
    }
  }

  &__progress {
    align-items: center;
    border-radius: 28px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #958282;
    margin-bottom: 7px;

    .completion {
      border-radius: 28px;
      background: #f98787;

      &__start {
        padding: 5px;
      }
    }
  }
  .progress__piece {
    margin-left: 2px;
    color: $white;
    font-weight: 700;
    font-size: 14px;
  }
}
