.list {
  &__item {
    font-size: 20px;
    text-align: center;
    width: 230px;
    height: 230px;
  }

  &__img {
    margin-top: 132px;
    margin-bottom: 28px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 1px solid black;
  }

  span {
    font-style: italic;
    font-weight: 400;
    font-size: 33px;
    color: #000;
  }
}

.big {
  margin-top: 18px;
  width: 420px;
  height: 420px;
}
