.list {
  &__item {
    font-size: 20px;
    text-align: center;
    flex-basis: 240px;

    &:not(.big) {
      margin-top: 100px;

      @include mediaTablet {
        order: 2;
        margin-top: 0;
        margin-bottom: 20px;
      }
    }

    &.big {
      flex-basis: 350px;
    }

    &__wrap {
      display: block;
      border-radius: 100%;
      overflow: hidden;
      aspect-ratio: 1 / 1;
      border: 1px solid black;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.text-italic {
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  color: #000;
}
