.logo {
  display: flex;
  align-items: center;
  z-index: 5;

  &__image {
    & img {
      filter: drop-shadow(4px 8px 12px rgba(0, 0, 0, 0.3));
      width: 74px;
      height: 53px;
    }
  }

  &__title {
    font-size: 21px;
    font-weight: 900;
  }
}
