.row {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__description {
    width: 830px;

    &-h1 {
      font-weight: 900;
      font-size: 45px;
      color: #000;
      text-align: justify;
      margin-bottom: 50px;
      letter-spacing: 0.2px;
    }

    &-about {
      font-weight: 500;
      font-size: 25px;
      color: #000;
      margin-bottom: 70px;
      width: 580px;
      text-align: justify;
      letter-spacing: -0.4px;
    }

    &-button {
      width: 316px;
      font-size: 21px;
      padding: 18px 68px;
      color: #000;
      text-decoration: none;
      font-weight: 900;
      border: 2.11px solid #000;
      border-radius: 56px;
    }
  }

  &__bg {
    position: absolute;
    left: 265px;
    top: -105px;
  }

  &__list {
    padding-top: 8px;

    &-h2 {
      font-weight: 800;
      font-size: 15px;
      text-align: center;
      color: #000;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    &-item {
      display: flex;
      margin-bottom: 16px;
      border: 1.91px solid #000;
      border-radius: 64px;
      width: 353px;
      height: 66px;

      &-img {
        margin-left: -1px;
      }

      span {
        padding: 24px 21px;
        font-weight: 500;
        font-size: 15px;
        text-align: center;
        color: #000;
        letter-spacing: 0.2px;
      }
    }
  }
}

// ------------------------------------------- Media ---------------------------------------------- //

@include mediaDeskMini {
  .row__description {
    &-h1 {
      font-size: 38px;
      margin-bottom: 40px;
    }

    &-about {
      font-size: 20px;
      width: 460px;
      margin-bottom: 60px;
    }

    &-button {
      margin-left: 100px;
      font-size: 17px;
    }
  }

  .row__bg {
    left: 180px;
    top: -120px;
  }

  .row__list {
    padding-top: 8px;

    &-h2 {
      font-weight: 800;
      font-size: 15px;
      text-align: center;
      color: #000;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    &-item {
      width: 326px;
      height: 60px;
      span {
        font-size: 15px;
      }
    }
  }
}

//media 2
@media screen and (max-width: 1100px) {
  .row__description {
    &-h1 {
      font-size: 35px;
      margin-bottom: 40px;
    }

    &-about {
      font-size: 18px;
      width: 440px;
      margin-bottom: 55px;
    }

    &-button {
      margin-left: 90px;
      font-size: 17px;
      padding: 16px 50px;
    }
  }

  .row__bg {
    left: 140px;
    top: -60px;
  }

  .row__list {
    padding-top: 8px;

    &-h2 {
      font-weight: 800;
      font-size: 15px;
      text-align: center;
      color: #000;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    &-item {
      width: 326px;
      height: 60px;
      span {
        font-size: 15px;
      }
    }
  }
}
