.row {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 40px;

  @media (max-width: 1230px) {
    gap: 145px;
  }

  @media (max-width: $tablet) {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
  }

  &__description {
    flex-grow: 1;

    @media (max-width: 1230px) {
      width: 100%;
      flex-basis: auto;
      text-align: center;
    }

    &-h1 {
      font-weight: 900;
      font-size: 45px;
      color: #000;
      margin-bottom: 50px;
      letter-spacing: 0.2px;

      @media (max-width: $tablet) {
        margin-bottom: 20px;
      }

      @media (max-width: 700px) {
        margin-bottom: 20px;
      }
    }

    &-about {
      font-weight: 500;
      font-size: 25px;
      color: #000;
      margin-bottom: 70px;
      width: 540px;
      text-align: justify;
      letter-spacing: 0px;

      @media (max-width: 1230px) {
        text-align: center;
        width: inherit;
        font-size: 20px;
        margin-bottom: 50px;
      }
    }

    &-button {
      font-size: 21px;
      padding: 18px 68px;
      text-decoration: none;
      font-weight: 900;
      border: 2.11px solid #000;
      transition:
        color 0.2s ease-in,
        border 0.2s ease-in;
      border-radius: 56px;
      margin-bottom: 20px;

      @media (max-width: $tablet) {
        font-size: 14px;
      }
    }

    &-button:hover {
      color: white;
      border: 2.11px solid white;
    }
  }

  &__bg {
    position: relative;
    flex-basis: 300px;
    flex-grow: 1;
    padding-top: 56px;
    aspect-ratio: 301 / 490;
    z-index: 2;

    @media (max-width: 1230px) {
      display: none;
    }

    @media (max-width: 700px) {
      display: none;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      right: 0;
      border-radius: 100%;
    }

    &:before {
      top: 0;
      bottom: 0;
      left: -15%;
      background-color: #ffffff;
      filter: blur(100px);
      opacity: 0.15;
    }

    &:after {
      bottom: -2%;
      left: 0;
      height: 64px;
      background-color: #000000;
      opacity: 0.4;
      filter: blur(20px);
    }

    & img {
      position: relative;
      width: 100%;
      z-index: 1;
    }
  }

  &__list {
    padding-top: 8px;
    flex-basis: 360px;
    margin: auto;

    @media (max-width: 700px) {
      padding-top: 0;
    }

    &-h2 {
      font-weight: 800;
      font-size: 15px;
      text-align: center;
      color: #000;
      text-transform: uppercase;
      margin-bottom: 25px;

      @media (max-width: 700px) {
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      border: 1.91px solid #000;
      border-radius: 64px;
      width: 350px;
      height: 66px;
      z-index: 2;
      margin: 16px auto;

      @media (max-width: 700px) {
        margin-bottom: 8px;
      }

      @media (max-width: 400px) {
        width: 258px;
      }

      &-img {
        margin-left: -1px;
      }

      &-img {
        max-height: 66px;
      }

      span {
        margin-left: 10px;
        font-weight: 500;
        font-size: 15px;
        color: #000;
      }
    }
  }
}

// ------------------------------------------- Media ---------------------------------------------- //
